/*
This is a sample shared stylesheet file, 
you can delete it after you understand how to use shared folder.
*/
/* fix bootstrap for SharePoint 2013 { */
*,
*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.ms-WPBorderBorderOnly {
    border-width: 0;
}

.container-fluid .row *,
.container-fluid .row *:before,
.container-fluid .row *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#tabs.container {
    min-width: 1200px;
}

.container .row *,
.container .row *:before,
.container .row *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* } fix bootstrap for SharePoint 2013 */
/* overwrite SharePoint default styles { */
.ms-core-header {
    display: none;
}

#pageContentTitle {
    display: none;
}

.ms-belltown-authenticated #s4-ribbonrow {
    display: none;
}

#hp-page-header {
    display: none;
}

.contentwrapper {
    margin: 0;
}

#contentBox {
    padding: 0;
}

.ms-pub-contentLayout {
    padding-top: 0;
}

.ms-rtestate-field p {
    margin: 0;
}

/* overwrite SharePoint default styles */
#DeltaSuiteLinks {
    display: none;
}

#ms-help {
    display: none;
}

.page-header {
    margin: 0;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.navbar {
    min-height: 30px;
}

.form-control {
    height: 28px;
    padding: 2px 4px;
}

.list-group-item {
    padding: 2px 15px;
}

.no-margin {
    margin: 0;
}

.vertical-align-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.vertical-align-middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.input-group .form-control {
    z-index: 0;
}

.navbar-toggle {
    display: block;
    margin: 2px 15px;
    float: left;
}

#sd-home-content p {
    padding: 10px;
}

#sd-section-detail .row {
    padding-bottom: 10px;
}

.sd-auto-width {
    width: auto;
}

.sd-section-content button {
    background-color: #eee;
    border: 0;
    border-radius: 0;
    min-width: 3em;
}

    .sd-section-content button:hover {
        background-color: #bbb;
        border: 0;
    }

    .sd-section-content button:active {
        background-color: #bbb;
        border: 0;
    }

.sd-opp-overview-table tr td {
    height: 45px;
    line-height: 45px;
    padding: 3px 5px;
}

#sd-section-navbtn {
    min-width: 1em;
}

.sd-opplist-button-sized {
    width: 200px;
    background-color: #286090;
}

.sd-opplist-button {
    background-color: #286090;
}

.sd-fake-textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 105px;
    width: 100%;
    overflow: visible;
    background-color: #ffffff;
    padding: 12px;
}

.sd-info {
    padding: 14px !important;
    border-radius: 3px;
}

.mce-btn button {
    min-width: 3em !important;
}

.sd-input-required {
    color: #ff0000;
    font-size: x-large;
}

.popover {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 65535;
    display: none;
    max-width: 600px;
    min-width: 150px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.attachment-popover {
    max-width: 600px;
}

.ui-autocomplete {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sd-search {
    background-color: rgba( 255,255,255,1) !important;
}

.alert {
    color: #c09853;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    border: 1px solid #fbeed5;
    border-radius: 4px;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
/*.collapse ul {
    line-height:30px;
    font-size:16px;
}*/
.accordion-body {
    border: 1px solid #d9edf7;
    border-top: 0;
}

.mce-container {
    z-index: 100;
}

.sd-small {
    font-size: 50%;
}

.glyphicon-asterisk {
    color: #ff0000;
    font-size: 60%;
    font-weight: lighter;
}

.sd-comment {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.sd-button-group {
    position: fixed;
    right: 100px;
    -moz-transform: translateX(-75%);
    -ms-transform: translateX(-75%);
    -o-transform: translateX(-75%);
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%);
}

.close {
    cursor: pointer;
    cursor: hand;
}

.ms-core-suiteLink-a :hover {
    color: gray;
    text-decoration: underline;
}

.ms-core-suiteLink-a {
    font-size: 14px;
}

.sd-head-text {
    font-weight: bolder;
}

.sd-head-separate {
    font-size: 14px;
}

#suiteBar {
    display:none !important;
}
#page-footer {
    display:none !important;
}
/*#ms-belltown-table {
    display:none !important;
}*/

.sd-toplink-help {
    line-height: 50px;
}

.sd-toplink-help-a {
    color: #777;
}

    .sd-toplink-help-a:focus, .sd-toplink-help-a:hover, .sd-toplink-help-a:active {
        text-decoration: none;
    }

.sd-opptydata-butcvfyr {
    width: 57.85%;
}

.sd-opptydata-linktitle {
    width: 353px;
}

#sd-section-content {
    /*display:table-cell;
    vertical-align:middle;
    text-align:center;*/
    margin:0 auto;
    width:1300px;
    margin-top:100px;
    height:175px;
    /*border:1px solid #000;*/
}
#sd-section-nav {
    margin:0 auto;
}

.section {
    height: 160px;
    width: 160px;
    background-color: #32B9B2;
    border-bottom: 8px solid #2AD2C9;
    border-top: 8px solid #2AD2C9;
    color: #ffffff;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.outlink {
    height: 160px;
    width: 160px;
    background-color: #D98685;
    border-bottom: 8px solid #FF906D;
    border-top: 8px solid #FF906D;
    color: #ffffff;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#sd-section-menulist ul li div {
    min-height: 160px;
    min-width: 160px;
}

#sd-home-container a {
    
}

#sd-toplink {
    margin: 0;
    padding-left:10px;
    height: 70px;
    /*background-color: #5B4767;*/
    background-color: rgba(255,141,109,1);
}
#sd-nav-top {
    margin: 0;
    padding:0;
    padding-left:10px;
    height: 50px;
    background-color: #2AD2C9;
}

.section a {
    color: #fff;
}

    .section a:link {
        text-decoration: none !important;
    }

    .section a:hover {
        text-decoration: none !important;
        cursor: pointer;
        background-color: none;
    }

    .section a:visited {
        color: #fff;
        text-decoration: none;
        background-color: none;
    }

.outlink a {
    color: #fff;
}

    .outlink a:link {
        text-decoration: none !important;
    }

    .outlink a:hover {
        text-decoration: none !important;
        cursor: pointer;
        background-color: none;
    }

    .outlink a:visited {
        color: #fff;
        text-decoration: none;
        background-color: none;
    }

.sd-dropdown-menu {
    /*background-color: #425563;*/
    background-color:rgba(66,85,99,0.8);
    border-bottom: 5px solid #FF8D6D;
}

.ss-dropdown-menu {
    /*background-color: #425563;*/
    background-color:rgba(66,85,99,0.8);
    border-bottom: 5px solid #2AD2C9;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    /*background-color: transparent;*/
    color: #000 !important;
}

.ss-dropdown-menu>li>a:focus, .ss-dropdown-menu>li>a:hover {
    color: #262626 !important;
}

.home-nav>li>a:focus, .home-nav>li>a:hover {
    background-color:#c6c9ca;
}

.dropdown-menu li a {
    color: #fff;
}
.test-top {
    z-index:1029 !important;
}
.logo{
    padding:5px 0;
}
.top-nav li a {
    color:#fff;
}
.top-nav-home>li>a {
    color:#000;
}
.top-nav li a:hover {
    color:#333;
}

#sd-section-content .nav .open >a, #sd-section-content .nav .open > a:focus, #sd-section-content .nav .open > a:hover{
    background-color:transparent;
}
.sd-table thead tr th{
    background-color:rgba(91, 71, 103,0.1);
    border-bottom:3px solid rgb(91, 71, 103);
}
.sd-nav-top small {
    font-size:12px;
}
/*.sd-top-title>h4, .sd-top-title>.input-group>small {
    background-color:transparent;
}
.sd-top-title>.input-group>small {
    font-size:11px;
}*/




