<div style="margin:0 auto;padding:0;height:768px;background:url('bg_home.jpg') repeat-x center center;background-color:#C6C9CA;">
    <div class="panel">
        <div class="panel-heading" style="min-height: 40px;background-color:#2AD2C9;">
            <span style="float:left;">
                <h4 style="color:white;">The Solution Source</h4>
            </span>
            <span style="float:right;">
                <a href="SDMyOppty.aspx" class="btn btn-default btn-tip" style="margin-right: 10px;" title="View my opportunities">
                    <img src="img/myoppty32.png" />
                </a>
            </span>
            <span style="float:right;">
                <a href="SDAllOppty.aspx" class="btn btn-default btn-tip" style="margin-right: 10px;" title="View all open opportunities">
                    <img src="img/AllOppty32.png" />
                </a>
            </span>
            <span style="float:right;">
                <a class="btn btn-default btn-tip" href="SDSectionLoader.aspx?sid=0201" title="Create a new opportunity" style="margin-right: 10px;">
                    <img src="img/newOppty32.png" />
                </a>
            </span>
        </div>

    </div>
    <div class="row media-list" style="margin:0 auto;">
        <div class="col-xs-1"></div>
        <div class="col-xs-1">Solution Design</div>
        <div class="col-xs-1">Solution Design</div>
        <div class="col-xs-1">Solution Design</div>
        <div class="col-xs-1">Solution Design</div>
        <div class="col-xs-1">Solution Design</div>
        <div class="col-xs-1">Solution Design</div>
        <div class="col-xs-1">Solution Design</div>
        <div class="col-xs-1">Solution Design</div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
    </div>
</div>