<style>
    body.ms-backgroundImage {
        background: none;
        min-height: 768px;
        background-size: 100% cover;
    }
</style>
<div class="row nav navbar-fixed-top" id="sd-section-container" style="min-width:1300px;">
    <sd-toplink></sd-toplink>
</div>
<div class="nav navbar-fixed-top test-top" style="margin-top:79px;">
    <div id="sd-nav-top">
        <div class="row form-inline ">
            <div class="col-xs-12 col-md-12 sd-auto-width vertical-align-middle">
                <h1 style="color:#ffffff;">
                    My Opportunities
                </h1>
            </div>
        </div>
    </div>
</div>
<div id="sd-oppty-list" class="panel-primary" style="margin-left:0; margin-top:129px; height:100%;min-width:1300px">
    <table id="table_sorting_paging" class="table-bordered table-striped table-hover table-condensed dataTable sd-table">
        <thead>
            <tr style="background-color:rgb(91, 71, 103);color:#fff;">
                <th rowspan="2">Opportunity ID</th>
                <th rowspan="2">Opportunity Name</th>
                <th rowspan="2">Client Name</th>
                <th rowspan="2">Deal Status</th>
                <th rowspan="2" align="center">Sales Stage</th>
                <th rowspan="1" colspan="3" align="center">Status Check</th>
                <th rowspan="2" align="center">Option</th>
            </tr>
            <tr>
                <th align="center">Content</th>
                <th align="center">Action</th>
                <th align="center">Approval</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:opptyList">
            <tr>
                <td class="text-nowrap"><a data-bind="attr: {href: $component.urlPrefix+opptyId}, text: opptyId"></a></td>
                <td data-bind="text:opptyName"></td>
                <td data-bind="text:clientName"></td>
                <td data-bind="text:dealStatus"></td>
                <td data-bind="text:salesStage"></td>
                <td></td>
                <td></td>
                <td></td>
                <td><i class="glyphicon glyphicon-asterisk"></i></td>
            </tr>
        </tbody>
    </table>
</div>


