<div id="sd-section-canvas">
    <nav id="sd-section-nav" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation" style="margin-top: 129px">
        <a class="navmenu-brand visible-md visible-lg" data-bind="attr:{href:sdContentUrl+'?OpptyID=' + opptyID()}">Solution Design</a>
        <ul class="nav navmenu-nav">
            <li class="active"><a href="#top" data-bind="click:scrollTop">Opportunity Overview</a></li>
            <li>
                <a href="#">Business and Solution Context</a>
                <ul class="navmenu-nav">
                    <li><a data-bind="attr:{href:'#'+sectionNavigator()[2].sid}">Client Overview and Decision Factors</a></li>
                    <li class="dropdown">
                        <a href="#">HPE Win Strategy</a>
                        <ul class="navmenu-nav">
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[3].sid}">Sales Approach</a></li>
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[4].sid}">Competitors</a></li>
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[5].sid}">Message Map/Value Proposition</a></li>
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[6].sid}">Pricing Approach</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a data-bind="attr:{href:'#'+sectionNavigator()[6].sid}">Solution Overview</a>
                <ul class="navmenu-nav">
                    <li class="dropdown">
                        <a href="#">Scope</a>
                        <ul class="navmenu-nav">
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[7].sid}">All Offerings</a></li>
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[8].sid}">Key Scope Items</a></li>
                        </ul>
                    </li>
                    <!-- ko if:pursuitClassfication() ==  'C' || pursuitClassfication() ==  'D'-->
                    <li><a data-bind="attr:{href:'#'+sectionNavigator()[9].sid}">Current State Architecture</a></li>
                    <!-- /ko -->
                    <li>
                        <a data-bind="attr:{href:'#'+sectionNavigator()[10].sid}">Solution Approach</a>
                        <ul class="navmenu-nav">
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[10].sid}">Summary</a></li>
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[11].sid}">Outsourcing CMO/TMO/FMO</a></li>
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[12].sid}">HR Solution</a></li>
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[13].sid}">HPE Internal Challenges and Constraints</a></li>
                            <!-- ko if:involvedGbu() == 'apps' && appsInscope() == true -->
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[14].sid}">Design Parameters</a></li>
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[15].sid}">Deployment Strategy</a></li>
                            <!-- /ko -->
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[16].sid}">Additional Information</a></li>
                        </ul>
                    </li>
                    <li><a data-bind="attr:{href:'#'+sectionNavigator()[17].sid}">Innovative Aspects of the Solution</a></li>
                    <li>
                        <a data-bind="attr:{href:'#'+sectionNavigator()[18].sid}">Delivery Strategies</a>
                        <ul class="navmenu-nav">
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[18].sid}">Delivery Location Targets</a></li>
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[19].sid}">In-Scope Services Delivery Responsibility</a></li>
                            <!-- ko if: pursuitClassfication() == 'C' || pursuitClassfication() == 'D' -->
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[20].sid}">Client-Retained Services Delivery Responsibility</a></li>
                            <!-- /ko -->
                            <li><a data-bind="attr:{href:'#'+sectionNavigator()[21].sid}">ESM Tooling and Automation Approach</a></li>
                        </ul>
                    </li>
                    <li><a data-bind="attr:{href:'#'+sectionNavigator()[22].sid}">Key Client Constraints</a></li>
                    <!-- ko if: pursuitClassfication() == 'C' || pursuitClassfication() == 'D' -->
                    <li><a data-bind="attr:{href:'#'+sectionNavigator()[23].sid}">Summary Costing &amp; FTE Reports-Costing Approach</a></li>
                    <!-- /ko -->
                </ul>
            </li>
        </ul>
    </nav>
</div>

<div class="nav navbar-fixed-top" style="min-width:1300px;">
    <sd-toplink></sd-toplink>
</div>
<div class="nav navbar-fixed-top test-top" style="margin-top:79px;">
    <div id="sd-nav-top">
        <div class="row form-inline ">
            <div class="col-xs-1 col-md-1 sd-auto-width vertical-align-middle">
                <a id="sd-section-navbtn" class="btn" data-toggle="offcanvas" data-target="#sd-section-nav" data-canvas="#sd-section-detail" data-placement="left" data-bind="attr:{href:'#'+sectionNavigator()[0].sid}" title="Navigate between each sections">
                    <img src="img/Browse32.png" />
                </a>
            </div>
            <div class="col-xs-11 col-md-11 sd-auto-width vertical-align-middle">
                <h2 style="color:#ffffff;">
                    Review And Extract
                </h2>
            </div>
        </div>
    </div>
</div>
<div id="sd-section-detail" class="sd-section-content canvas-sliding container-fluid" style="margin-top:129px;">
    <div class="row form-horizontal">
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[0].title,attr:{id:sectionNavigator()[0].sid}"></h3>
        </div>
    </div>
    <sd-section-0201 params="{viewModel: $component}"></sd-section-0201>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
            <h3 class="pull-left" data-bind="text:sectionNavigator()[1].title,attr:{id:sectionNavigator()[1].sid}"></h3>
        </div>
    </div>
    <sd-section-0202 params="{viewModel: $component}"></sd-section-0202>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[2].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
            <h3 class="pull-left" data-bind="text:sectionNavigator()[2].title"></h3>
        </div>
    </div>
    <sd-section-0301 params="{viewModel: $component}"></sd-section-0301>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[3].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
            <h3 class="pull-left" data-bind="text:sectionNavigator()[3].title"></h3>
        </div>
    </div>
    <sd-section-030201 params="{viewModel: $component}"></sd-section-030201>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[4].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[4].title"></h3>
        </div>
    </div>
    <sd-section-030202 params="{viewModel: $component}"></sd-section-030202>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[5].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[5].title"></h3>
        </div>
    </div>
    <sd-section-030203 params="{viewModel: $component}"></sd-section-030203>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[6].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[6].title"></h3>
        </div>
    </div>
    <sd-section-030204 params="{viewModel: $component}"></sd-section-030204>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[7].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[7].title"></h3>
        </div>
    </div>
    <sd-section-040101 params="{viewModel: $component}"></sd-section-040101>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[8].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[8].title"></h3>
        </div>
    </div>
    <sd-section-040102 params="{viewModel: $component}"></sd-section-040102>
    <!-- ko if:pursuitClassfication() ==  'C' || pursuitClassfication() ==  'D'-->
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[9].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[9].title"></h3>
        </div>
    </div>
    <sd-section-0402 params="{viewModel: $component}"></sd-section-0402>
    <!--/ko-->
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[10].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[10].title"></h3>
        </div>
    </div>
    <sd-section-040301 params="{viewModel: $component}"></sd-section-040301>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[11].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[11].title"></h3>
        </div>
    </div>
    <sd-section-040302 params="{viewModel: $component}"></sd-section-040302>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[12].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[12].title"></h3>
        </div>
    </div>
    <sd-section-040303 params="{viewModel: $component}"></sd-section-040303>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[13].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[13].title"></h3>
        </div>
    </div>
    <sd-section-040304 params="{viewModel: $component}"></sd-section-040304>
    <!-- ko if:involvedGbu() == 'apps' && appsInscope() == true -->
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[14].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[14].title"></h3>
        </div>
    </div>
    <sd-section-040305 params="{viewModel: $component}"></sd-section-040305>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[15].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[15].title"></h3>
        </div>
    </div>
    <sd-section-040306 params="{viewModel: $component}"></sd-section-040306>
    <!--/ko-->
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[16].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[16].title"></h3>
        </div>
    </div>
    <sd-section-040307 params="{viewModel: $component}"></sd-section-040307>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[17].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[17].title"></h3>
        </div>
    </div>
    <sd-section-0404 params="{viewModel: $component}"></sd-section-0404>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[18].sid}"></div>


    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[18].title"></h3>
        </div>
    </div>
    <sd-section-040501 params="{viewModel: $component}"></sd-section-040501>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[19].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[19].title"></h3>
        </div>
    </div>
    <sd-section-040505 params="{viewModel: $component}"></sd-section-040505>
    <!-- ko if:pursuitClassfication() ==  'C' || pursuitClassfication() ==  'D'-->
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[20].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[20].title"></h3>
        </div>
    </div>
    <sd-section-040506 params="{viewModel: $component}"></sd-section-040506>
    <!--/ko-->
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[21].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[21].title"></h3>
        </div>
    </div>
    <sd-section-040503 params="{viewModel: $component}"></sd-section-040503>
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[22].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[22].title"></h3>
        </div>
    </div>
    <sd-section-0406 params="{viewModel: $component}"></sd-section-0406>
    <!-- ko if:pursuitClassfication() ==  'C' || pursuitClassfication() ==  'D'-->
    <div class="row" style="height:75px" data-bind="attr:{id:sectionNavigator()[23].sid}"></div>

    <div class="row form-horizontal">
        <div class="col-lg-12">
            <hr />
        </div>
        <div class="col-lg-12">
            <h3 class="pull-left" data-bind="text:sectionNavigator()[23].title"></h3>
        </div>
    </div>
    <sd-section-0407 params="{viewModel: $component}"></sd-section-0407>
    <!--/ko-->

</div>
