<div class="row" id="sd-section-container" style="background:url('bg_sd.jpg');height:1013px;">
    <div id="sd-toplink">
        <div class="col-lg-2" style="padding:15px 10px;">
            <h1 style="color:#ffffff;">Solution Design</h1>
        </div>
        <div class="col-lg-8" style="padding:30px 10px;">
            <ul class="nav nav-pills">
                <li>
                    <a class="active" href="AppHome.aspx">Home</a>
                </li>
                <li>
                    <a class="">Help &amp; Reference</a>
                </li>
                <li>
                    <a class="" href="SDMyOppty.aspx">My Opportunity<i class="glyphicon glyphicon-user"></i></a>
                </li>
                <li>
                    <a class="" href="SDAllOppty.aspx">All Open Opportunity<i class="glyphicon glyphicon-list"></i></a>
                </li>
                <li>
                    <a class="" href="SDSectionLoader.aspx?sid=0201">New Opportunity<i class="glyphicon glyphicon-edit"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 pull-right">
            <img src="logo.png" />
        </div>
    </div>
    <div id="sd-section-content">
        <ul class="nav nav-pills">
            <li>
                <div class="section">
                    <!-- ko if: opptyID() != "" -->
                    <a data-bind="attr:{href:sdLoaderUrl+'?sid=0201&OpptyID=' + opptyID()}">Opportunity Overview</a>
                    <!-- /ko -->
                </div>
            </li>
            <li>
                <div class="section">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true" aria-selected="false">
                        Business and Solution Context
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=0301&OpptyID=' + opptyID()}">Client Overview and Decision Factors</a></li>
                        <li role="separator" class="divider"></li>                        
                        <li><a>HPE Win Strategy</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=030201&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>Sales Approach</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=030202&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>Competitors</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=030203&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>Message Map/Value Proposition</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=030204&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>Pricing Approach</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="section">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Solution Overview                        
                    </a>
                    <ul class="dropdown-menu">
                        <li><a>Scope</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=040101&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>All Offerings</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=040102&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>Key Scope Items </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=0402&OpptyID=' + opptyID()}">Current State Architecture</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a>Solution Approach</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=040301&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>Summary</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=040302&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>Outsourcing CMO/TMO/FMO</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=040303&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>HR Solution</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=040304&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>HPE Internal Challenges and Constraints</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=040305&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>Design Parameters</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=040306&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>Deployment Strategy</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=040307&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>Additional Information</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=0404&OpptyID=' + opptyID()}">Innovative Aspects of the Solution</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a>Delivery Strategies</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=040501&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>Delivery Location Targets</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=040505&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>In-Scope Services Delivery Responsibility</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=040506&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>Client-Retained Services Delivery Responsibility</a></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=040503&OpptyID=' + opptyID()}"><i class="glyphicon glyphicon-menu-right"></i>ESM Tooling and Automation Approach</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=0406&OpptyID=' + opptyID()}">Key Client Constraints</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=0407&OpptyID=' + opptyID()}">Summary Costing &amp; FTE Reports-Costing Approach</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    Offering Design
                </div>
            </li>
            <li>
                <div>
                    Integrated Technical Architecture
                </div>
            </li>
            <li>
                <div>
                    End-to-End<br /> T&T<br /> Solution
                </div>
            </li>
            <li>
                <div>
                    Critical Risks, Assumptions and Mitigations
                </div>
            </li>
            <li>
                <div>
                    Reference Documents
                </div>
            </li>
        </ul>
    </div>
</div>