<style>
    body.ms-backgroundImage {
        background: url('bg_sd.jpg');
        min-height: 768px;
        background-size: 100% cover;
    }
</style>
<div class="row nav navbar-fixed-top" id="sd-section-container" style="min-width:1300px;">
    <sd-toplink></sd-toplink>    
    <div id="sd-section-content">
        <ul class="nav nav-pills">
            <li>
                <div class="section">
                    <!-- ko if: opptyID() != "" -->
                    <a data-bind="attr:{href:sdLoaderUrl+'?sid=0201&OpptyID=' + opptyID()}">Opportunity Overview</a>
                    <!-- /ko -->
                </div>
            </li>
            <li>
                <div class="section">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true" aria-selected="false">
                        Client Solution Strategy
                    </a>
                    <ul class="dropdown-menu sd-dropdown-menu">
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=0301&OpptyID=' + opptyID()}">Client and Business Context</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a data-bind="attr:{href:sdLoaderUrl+'?sid=040101&OpptyID=' + opptyID()}">Solution Overview</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="section">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Offering Design
                    </a>
                    <ul class="dropdown-menu sd-dropdown-menu">
                        <li><a>Opportunity-Wide Summaries</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a>Offering Solution Designs and Costing</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="section">
                    Integrated Technical Architecture
                </div>
            </li>
            <li>
                <div class="section">
                    End-to-End<br /> T&T<br /> Solution
                </div>
            </li>
            <li>
                <div class="section">
                    Critical Risks, Assumptions and Mitigations
                </div>
            </li>
            <li>
                <div class="section">
                    Reference Documents
                </div>
            </li>
            <li>
                <div class="section">
                    Handover to Delivery
                </div>
            </li>
        </ul>
    </div>
</div>