<!-- ko with:section.data -->
<div class="accordion" id="accordion1">
    <div class="accordion-group">
        <div id="c1" class="panel-body">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="row">
                            <sd-questionarea params="{title: 'Explain the elements of the solution that should be positioned as innovative with the client. <br>Note: These may be HPE standard items but may be viewed as innovative by the client.',
                     content: innovativeElementDetail,editable:$component.editable}"></sd-questionarea>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>
<!-- /ko -->
