<div class="accordion" id="accordion1">
    <div class="accordion-group">
        <div class="accordion-heading panel-heading bg-info" role="tab">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" role="button" data-parent="#accordion1" href="#c1">
                    Solution Approach - Summary
                </a>
            </h4>
        </div>

        <div id="c1" class="panel-body collapse">
            <div class="col-lg-12">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-10">
                            <label class="control-label">
                                Executive summary of key elements of the solution including use of  Industrialized Delivery offshore/nearshore
                                locations and third parties. Reference the scope, key deliverables, resourcing, timeframes,continuous improvement initiatives, relevant key assumptions and risks.
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <a href="#">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        </div>
                    </div>
                    <sd-questionarea params="{title:'',content:'testing data'}"></sd-questionarea>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading panel-heading bg-info" role="tab">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" role="button" data-parent="#accordion1" href="#c2">
                    Solution Approach - Summary
                </a>
            </h4>
        </div>

        <div id="c2" class="panel-body collapse">
            <div class="col-lg-12">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-8">
                            <label class="control-label">Attach a diagram or picture of the HPE end-to-end solution and complete the following.</label>
                        </div>
                        <div class="col-lg-2">
                            <a href="#">
                                <span class="glyphicon glyphicon-paperclip"></span> Add attachment
                            </a>
                        </div>
                        <div class="col-lg-2">
                            <a href="#">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">&nbsp;</div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <label class="control-label"><em>Current Mode of Operations</em></label>
                        </div>
                        <div class="col-lg-4">
                            <label><em>Transition Mode of Operations</em></label><br />
                            <small><em>month xx - yy</em></small>
                        </div>
                        <div class="col-lg-4">
                            <label><em>Future Mode of Operations</em></label><br />
                            <small><em>month yy + 1 to zz</em></small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <textarea class="form-control" rows="20"></textarea>
                        </div>
                        <div class="col-lg-4">
                            <textarea class="form-control" rows="20"></textarea>
                        </div>
                        <div class="col-lg-4">
                            <textarea class="form-control" rows="20"></textarea>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading panel-heading bg-info" role="tab">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" role="button" data-parent="#accordion1" href="#c3">
                    Solution Approach - HR Solution
                </a>
            </h4>
        </div>

        <div id="c3" class="panel-body collapse">
            <div class="col-lg-12">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="control-label">
                                HR Solution content may not be applicable for all solutions.
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="5%"></th>
                                        <th width="30%"><label class="control-label"><em>HR Issues</em></label></th>
                                        <th width="60%"><label class="control-label"><em>Approach</em></label></th>
                                        <th width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach:selections040303">
                                    <tr>
                                        <td><input type="checkbox" class="checkbox sd-sec-check-040303" data-bind="checked:$data.checked" /></td>
                                        <td data-bind="text:$data.content"></td>
                                        <td class="sd-sec-td-040303"><textarea class="form-control" rows="2" data-bind="enable:$data.checked"></textarea></td>
                                        <td>
                                            <a href="#">
                                                <span class="glyphicon glyphicon-info-sign"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td><input type="checkbox" class="checkbox" data-bind="checked:isChecked03" /></td>
                                        <td><input type="text" class="form-control" placeholder="Other" data-bind="enable:isChecked03" /></td>
                                        <td><textarea class="form-control sd-sec-area-040303" rows="2" data-bind="enable:isChecked03"></textarea></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <a class="btn btn-default btn-xs" href="#"><span class="glyphicon glyphicon-plus">Add Row</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading panel-heading bg-info" role="tab">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" role="button" data-parent="#accordion1" href="#c4">
                    Solution Approach - HPE Internal Challenges and Constraints
                </a>
            </h4>
        </div>

        <div id="c4" class="panel-body collapse">
            <div class="col-lg-12">
                <div class="row">
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="5%"></th>
                                    <th width="35%"><label class="control-label"><em>Challenge / Constraint</em></label></th>
                                    <th width="60%"><label class="control-label"><em>Description</em></label></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:selections040304">
                                <tr>
                                    <td><input type="checkbox" class="checkbox" data-bind="checked:$data.checked" /></td>
                                    <td data-bind="text:$data.content"></td>
                                    <td><textarea class="form-control" rows="2" data-bind="enable:$data.checked"></textarea></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><input type="checkbox" class="checkbox" data-bind="checked:isChecked03" /></td>
                                    <td><input type="text" class="form-control" placeholder="Other" data-bind="enable:isChecked03" /></td>
                                    <td><textarea class="form-control" rows="2" data-bind="enable:isChecked03"></textarea></td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <a class="btn btn-default btn-xs" href="#"><span class="glyphicon glyphicon-plus">Add Row</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading panel-heading bg-info" role="tab">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" role="button" data-parent="#accordion1" href="#c5">
                    Solution Approach - Design Parameters
                </a>
            </h4>
        </div>

        <div id="c5" class="panel-body collapse">
            <div class="col-lg-12">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-10">
                            <label class="control-label">
                                Please include overall solution boundary conditions / parameters that all SDs / SMEs need to take into account for individual components.
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <a href="#">
                                <span class="glyphicon glyphicon-paperclip"></span> Add attachment
                            </a>
                        </div>
                    </div>
                    <sd-questionarea params="{title:'', content:'testing data'}"></sd-questionarea>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading panel-heading bg-info" role="tab">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" role="button" data-parent="#accordion1" href="#c6">
                    Solution Approach - Deployment Strategy
                </a>
            </h4>
        </div>

        <div id="c6" class="panel-body collapse">
            <div class="col-lg-12">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-10">
                            <label class="control-label">
                                Please include initial thoughts on solution deployment / rollout strategy so all SDs / SMEs have the same understanding upfront; e.g. waves, big bang, POC followed by waves / rollouts. Also include information on proposed tools (client, HPE or third party) and methodologies (client, HPE or third party) that apply to the overall solution.
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <a href="#">
                                <span class="glyphicon glyphicon-paperclip"></span> Add attachment
                            </a>
                        </div>
                    </div>
                    <sd-questionarea params="{title:'', content:'testing data'}"></sd-questionarea>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading panel-heading bg-info" role="tab">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" role="button" data-parent="#accordion1" href="#c7">
                    Solution Approach - Additional Information
                </a>
            </h4>
        </div>

        <div id="c7" class="panel-body collapse">
            <div class="col-lg-12">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-10">
                            <label class="control-label">
                                Insert any other graphics or free-form text to explain the solution overview.<br>
                                If the strategies and approaches for Transition and Transformation have not been fully addressed in other sections, document them here.
                            </label>
                        </div>
                        <div class="col-lg-2">
                            <a href="#">
                                <span class="glyphicon glyphicon-paperclip"></span> Add attachment
                            </a>
                        </div>
                    </div>
                    <sd-questionarea params="{title:'', content:'testing data'}"></sd-questionarea>
                </div>
            </div>
        </div>
    </div>
</div>

