<!-- ko with:section.data -->
<div class="accordion" id="accordion1">
    <div class="accordion-group">
        <div id="c6" class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <p class="bg-success sd-info">
                        <label>Applies to Applications Project Opportunities only.</label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <sd-questionarea params="{title:'Please include initial thoughts on solution deployment / rollout strategy so all SDs / SMEs have the same understanding upfront; e.g. waves, big bang, POC followed by waves / rollouts. Also include information on proposed tools (client, HPE or third party) and methodologies (client, HPE or third party) that apply to the overall solution.', content:initialThoughtDetail,editable:$component.editable}"></sd-questionarea>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->