
<div class="accordion" id="accordion1">
    <div class="accordion-group">
        <div id="c1" class="panel-body">
            <p class="bg-success sd-info">
                <label>Use this table to document the delivery responsibilities for the client-retained services that have interdependencies with HPE in-scope offerings. The responsibility may be with the client directly or with their partners or third parties. Be sure to highlight delivery responsibilities that could detract from the Transformation Strategy and Plan. </label>
            </p>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                    <tr class="text-center">
                                        <th width="5%"></th>
                                        <th>Retained Service</th>
                                        <th>Client Delivery</th>
                                        <th>Client Partner Delivery</th>
                                        <th>Client Third Party</th>
                                        <th>
                                            Comments
                                                         <a href="#" class="popover-content" title="Include comments required to explain risks or issues for HPE because of this client-retained delivery approach.">
                                                             <span class="glyphicon glyphicon-info-sign"></span>
                                                         </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach:data.content">
                                    <!-- ko if: $component.editable()-->
                                    <tr>
                                        <!--ko if: retainedService == '' -->
                                        <td><a href="#" data-bind="click:$parent.remove,visible:$component.editable()"><span class="glyphicon glyphicon-minus-sign"></span></a></td>
                                        <!--/ko-->
                                        <!--ko ifnot: retainedService == '' -->
                                        <td></td>
                                        <!--/ko-->
                                        <td><input type="text" class="form-control" data-bind="value:retainedService" /></td>
                                        <td>
                                            <select class="form-control" data-bind="value:clientDelivery">
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </td>
                                        <td><input type="text" placeholder="name of partner or N/A" class="form-control" data-bind="value:clientPartnerDelivery" /></td>
                                        <td><input type="text" placeholder="name of third party or N/A" class="form-control" data-bind="value:clientThirdPartyDelivery" /></td>
                                        <td><textarea class="form-control sd-comment" rows="3" data-bind="textInput:comment"></textarea></td>
                                    </tr>
                                    <!--/ko-->
                                    <!-- ko ifnot: $component.editable()-->
                                    <tr>
                                        <td></td>
                                        <td data-bind="text:retainedService"></td>
                                        <td data-bind="text:clientDelivery"></td>
                                        <td data-bind="text:clientPartnerDelivery"></td>
                                        <td data-bind="text:clientThirdPartyDelivery"></td>
                                        <td data-bind="text:comment"></td>
                                    </tr>
                                    <!--/ko-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-left">
                            <a class="btn btn-default btn-xs" href="#" data-bind="click:addRow,visible:$component.editable()"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
