<div id="sd-toplink" style="height:79px;">
    <div class="col-xs-10 col-md-10 col-lg-10 sd-auto-width">
        <div>
            <div class="col-xs-12 col-md-12 col-lg-12 sd-auto-width" style="padding:0 10px;">
                <h1 style="color:#ffffff;">
                    Solution Design
                </h1>
            </div>
        </div>

        <div>
            <div class="col-xs-12 col-md-12 col-lg-12 sd-auto-width" style="padding:0 10px;">
                <ul class="nav nav-pills top-nav">
                    <li>
                        <a class="active" href="AppHome.aspx">The Solution Source</a>
                    </li>
                    <li>
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true" aria-selected="false">Help &amp; Reference</a>
                        <ul class="dropdown-menu sd-dropdown-menu">
                            <li><a href="FAQ.aspx" target="_blank">FAQ</a></li>
                            <li><a href="Support%20Contacts.aspx" target="_blank">Support Contacts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true" aria-selected="false">Opportunities</a>
                        <ul class="dropdown-menu sd-dropdown-menu">
                            <li><a href="SDSectionLoader.aspx?sid=0201" target="_blank">Create a new opportunity</a></li>
                            <li><a href="SDMyOppty.aspx" target="_blank">My opportunities</a></li>
                            <li><a href="SDAllOppty.aspx" target="_blank">All open opportunities</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-md-2 col-lg-2 pull-right" style="padding:10px 0">
        <img src="logo.png" height="60" />
    </div>
</div>