{"siteUrl":"https://ent302.sharepoint.hp.com/teams/ESSD","folderPath":"/teams/ESSD/SiteAssets/modules","libTitle":"Site Assets","userName":"asiapacific\\zhouzh","password":"Dongfeng1998@","ingoredPaths":["/v0.1/*","/v0.2/*","/v1.5/*","*/v1.0/component/*.js","*/v1.0/css/*.css","*.config","*.cs","*.md"]}