<!-- ko with:section.data -->
<div class="accordion" id="accordion1">

    <div class="accordion-group">
        <div id="c5" class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <p class="bg-success sd-info">
                        <label>Applies to Applications Project Opportunities only.</label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <sd-questionarea params="{title:'Please include overall solution boundary conditions / parameters that all SDs / SMEs need to take into account for individual components.', content:solnParamDetail,editable:$component.editable}"></sd-questionarea>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
