<div class="row form-horizontal">
    <p class="bg-success sd-info">
        <label>
            Complete the information below for each major Transformation Strategy or Approach.
            This content is not applicable for project opportunities. Refer to the questions
            shown in the pop-up to the right to help develop the expected content.
        </label>
    </p>
</div>
<div class="row form-horizontal">
    <div class="panel panel-default panel-primary">
        <div class="panel-heading form-inline form-horizontal">
            Transformation Strategy/Approach #1 : &nbsp;&nbsp;
            <input type="text" class="form-control" size="40" />
        </div>
        <div class="panel-body">
            <table class="table table-border">
                <tbody>
                    <tr>
                        <td><b>Description</b></td>
                        <td colspan="3"><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><b>Top 3 Assumptions</b></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><b>Top 3 Risks</b></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><b>Top 3 Deliverables</b></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><b>Top 3 Milestones</b></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="row form-horizontal">
    <div class="panel panel-default panel-primary">
        <div class="panel-heading form-inline form-horizontal">
            Transformation Strategy/Approach #2 : &nbsp;&nbsp;
            <input type="text" class="form-control" size="40" />
        </div>
        <div class="panel-body">
            <table class="table table-border">
                <tbody>
                    <tr>
                        <td><b>Description</b></td>
                        <td colspan="3"><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><b>Top 3 Assumptions</b></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><b>Top 3 Risks</b></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><b>Top 3 Deliverables</b></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                    <tr>
                        <td><b>Top 3 Milestones</b></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                        <td><input class="form-control" type="text" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
