<div class="row">
    <div class="col-lg-12">
        <p class="bg-success sd-info">
            <label>
                This content is not applicable for project opportunities.
            </label>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr>
                    <td>Insert high-level, overall T&amp;T timeline</td>
                    <td><i class="glyphicon glyphicon-paperclip"></i>Add Attachment</td>
                    <td>Review(0)<i class="glyphicon glyphicon-comment"></i></td>
                </tr>
                <tr>
                    <td>Insert offering-specific, T&amp;T timeline</td>
                    <td><i class="glyphicon glyphicon-paperclip"></i>Add Attachment</td>
                    <td>Review(0)<i class="glyphicon glyphicon-comment"></i></td>
                </tr>
                <tr>
                    <td>Insert timeline for client in-flight projects</td>
                    <td><i class="glyphicon glyphicon-paperclip"></i>Add Attachment</td>
                    <td>Review(0)<i class="glyphicon glyphicon-comment"></i></td>
                </tr>
                <tr>
                    <td>Insert other relevant timeline</td>
                    <td><i class="glyphicon glyphicon-paperclip"></i>Add Attachment</td>
                    <td>Review(0)<i class="glyphicon glyphicon-comment"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>