
<div class="accordion" id="accordion1">
    <div class="accordion-group">
        <!--<div class="accordion-heading panel-heading bg-info" role="tab">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" role="button" data-parent="#accordion1" href="#">
                    Summary CMO/FMO Locations and Volumes
                </a>
            </h4>
        </div>-->

        <div id="c1" class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="control-label sd-info">
                                    For each in-scope service, identify the CMO locations and volumes and then FMO locations and
                                    volumes-which may be client sites or HPE sites.
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="control-label">
                                    This table summarizes the high-level CMO and FMO delivery location approaches. When client on-site
                                    support is required, it's necessary to list all client sites, but rather summarize with information
                                    such as total number of sites, countries and devices.
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="control-label">In-Scope Service</label><br />
                                                <small>Pulled from GDT</small>
                                            </th>
                                            <th>
                                                <label class="control-label">CMO Location(s)</label><br />
                                                <small>Both Client and HPE</small>
                                            </th>
                                            <th>
                                                <label class="control-label">CMO Volume</label><br />
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-question-sign"></span>
                                                </a>
                                            </th>
                                            <th>
                                                <label class="control-label">% of Best<br />Shore<br />Delivery</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Midrange Hosting</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Storage</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Service Desk</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Messaging</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Desktop Support</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Etc.</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>nn total client locations</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <label class="control-label">FMO Locations(s)</label><br />
                                                <small>(highlight if multiple<br /> locations/service)</small>
                                            </th>
                                            <th>
                                                <label class="control-label">FMO Volume*</label><br />
                                                <a href="#">
                                                    <span class="glyphicon glyphicon-question-sign"></span>
                                                </a>
                                            </th>
                                            <th>
                                                <label class="control-label">Future % of<br /> Best Shore<br /> Delivery</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>nn total client locations</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <a class="btn btn-default btn-xs" href="#"><span class="glyphicon glyphicon-plus">Add Row</span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <small>*FMO Volume is the volume in the first full month of production following completion of Transition.</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                &nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="control-label">
                                    What are the exceptions from the standard delivery locations (custom delivery models\locations, etc.)?
                                    If there are no exceptions, enter NONE.
                                </label>
                                <label class="control-label text-danger">
                                    <em>This field is mandatory.</em>
                                </label>
                            </div>
                        </div>
                        <sd-questionarea params="{title:'',content:'testing data'}"></sd-questionarea>
                        <div class="row"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
