<!-- ko with:section.data -->
<div class="row">
    <div class="col-lg-12">
        <sd-questionarea params="{title:'Provide an executive summary overview of the solution approach. What does the client want, and how will the HPE solution meet the client requirements? Include items such as client description of the solution, client expectations of key deliverables, client-required key scope items, transformation plans and strengths/weaknesses for execution, high level timeframes and durations, delivery approaches including offshore/near shore/third parties, resourcing requirements, continuous improvement initiatives, and critical key assumptions and risks.',content:overviewDetail,editable:$component.editable}"></sd-questionarea>
    </div>
</div>
<!-- /ko -->
