<!-- ko with:section.data -->
<div class="accordion" id="accordion1">
    <div class="accordion-group">
        <div id="c1" class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <sd-questionarea params="{title:'What are the client-mandated and/or retained ESM tools, including those used by third parties?',
                     content:clientToolDetail,editable:$component.editable}"></sd-questionarea>

                        <sd-questionarea params="{title:'Which HPE service management services are included?',
                     content:cmpyServiceDetail,editable:$component.editable}"></sd-questionarea>

                        <sd-questionarea params="{title:'What is the HPE approach for monitoring and management?',
                     content:cmpyApproachDetail,editable:$component.editable}"></sd-questionarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- /ko -->