<p class="bg-info info">
    <a data-toggle="collapse" href="#collapse0"><label class="lead text-left text-info">Practice Solution Design,Architecture and Costing Overview-ITO ONLY</label></a>
</p>
<div id="collapse0" class="collapse">
    <div class="row col-lg-12">
        <div class="col-lg-10">
            <p>
                <label class="text-left text-info">
                    The content in this section must be complete for each Practice(set of like Offerings);e.g.,Workspace,Server Management,Application Management,and Call center Management,within the scope of the solution.
                </label>
            </p>
        </div>
        <div class="col-lg-2">
            <a href="#">
                <span class="glyphicon glyphicon-info-sign"></span>
            </a>
        </div>
    </div>
    <div class="row col-lg-12">
        <p>
            <label class="text-left bg-info  col-lg-12 text-info">Pratice One-Name pre-populated from section 4.1 scope</label>
</p>
    </div>
    <div class="row col-lg-10">
        <p>
            <a data-toggle="collapse" href="#collapse1"><label class="control-label text-info"> Practice Summary</label></a>
        </p>
    </div>
    <div class="col-lg-10 row">
        <form id="collapse1">

            <table class="table table-bordered col-lg-10">
                <tr>
                    <td>
                        <em><strong> Current Mode of Operations(CMO)</strong></em>
                    </td>
                    <td>
                        <input class="form-control" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <em><strong>Transition Mode of Operations<br><small>(TMO-month xx-yy)</small></strong></em>
                    </td>
                    <td>
                        <input class="form-control" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <em><strong>Future Mode of Operations<small><br>(FMO-month yy+1 to zz)</small></strong></em>
                    </td>
                    <td>
                        <input class="form-control" type="text" />
                    </td>
                </tr>
                <tr></tr>
            </table>
        </form>
    </div>
    <div class="row  col-lg-10">
        <p>
            <a href="#collapse2" data-toggle="collapse"><label class="control-label"> Practice Offering Details</label></a>
        </p>
    </div>
    <div class="col-lg-10 row">
        <form id="collapse2">
            <table class="table table-bordered col-lg-10">
                <tr>
                    <td>
                        <code class="text-info">Offering 1 from 4.1 scope</code>
                    </td>
                    <td>
                        <a href="#">
                            <span class="glyphicon glyphicon-paperclip"></span> Attach peer review
                        </a>
                        <a href="#">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code class="text-info">Offering 2 from 4.1 scope</code>
                    </td>
                    <td>
                        <a href="#">
                            <span class="glyphicon glyphicon-paperclip"></span> Attach peer review
                        </a>
                        <a href="#">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <code class="text-info">Offering 3 as many as needed</code>
                    </td>
                    <td>
                        <a href="#">
                            <span class="glyphicon glyphicon-paperclip"></span> Attach peer review
                        </a>
                        <a href="#">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="row  col-lg-10">
        <p class="text-info">
            <label class="text-info">Practice 2 Name pre-populated from Section 4.1 scope</label>
        </p>
    </div>
    <div class="row col-lg-10">
        <p class="info success">
            <label class="text-info">Enter Practice summary and Practice Offering details related/pre-populated for each Practice in section 4.1 scope </label>
        </p>
    </div>
</div>
<form>
        <div class="col-lg-6">
            <select id="example-select2" multiple="multiple">
                <option value="1" selected>Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
                <option value="5">Option 5</option>
                <option value="6">Option 6</option>
            </select>
    </div>
</form>
<div class="col-lg-6">
    <select id="example-multiselect" multiple="multiple">
        <option value="1" selected>Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
        <option value="5">Option 5</option>
        <option value="6">Option 6</option>
    </select>
</div>
