<p class="bg-info">
    <a href="#c1" data-toggle="collapse"><label class="lead text-left">Delivery Location Targets</label> </a>
</p>
<div id="c1" class="collapse">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>In-Scope Offerings</th>
                        <th>Client Volumes/Metrics</th>
                        <th>HP Targeted On-Shore Location & Workload %</th>
                        <th>HP Targeted RDC Location & Workload %</th>
                        <th>HP Targeted GDC Location & Workload %</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
<p class="bg-info">
    <a href="#c2" data-toggle="collapse"><label class="lead text-left">Summary CMO/FMO Locations and Volumes</label></a>
</p>
<div id="c2" class="collapse">
    <div class="row">
        <div class="col-lg-12">
            <label class="control-label">
                For each in-scope service, identify the CMO locations and volumes and then FMO locations and
                volumes-which may be client sites or HP sites.
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label class="control-label">
                This table summarizes the high-level CMO and FMO delivery location approaches. When client on-site
                support is required, it's necessary to list all client sites, but rather summarize with information
                such as total number of sites, countries and devices.
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-primary">
                        <th>
                            <label class="control-label">In-Scope Service</label><br />
                            <small>Pulled from GDT</small>
                        </th>
                        <th>
                            <label class="control-label">CMO Location(s)</label><br />
                            <small>Both Client and HP</small>
                        </th>
                        <th>
                            <label class="control-label">CMO Volume</label><br />
                            <a href="#">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </a>
                        </th>
                        <th>
                            <label class="control-label">% of Best<br />Shore<br />Delivery</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-info">Midrange Hosting</td>
                        <td class="bg-success"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bg-info">Storage</td>
                        <td class="bg-success"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bg-info">Service Desk</td>
                        <td class="bg-success"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bg-info">Messaging</td>
                        <td class="bg-success"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bg-info">Desktop Support</td>
                        <td class="bg-success"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bg-info">Etc.</td>
                        <td class="bg-success"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg-info">
                        <td></td>
                        <td>nn total client locations</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-primary">
                        <th>
                            <label class="control-label">FMO Locations(s)</label><br />
                            <small>(highlight if multiple<br /> locations/service)</small>
                        </th>
                        <th>
                            <label class="control-label">FMO Volume*</label><br />
                            <a href="#">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </a>
                        </th>
                        <th>
                            <label class="control-label">Future % of<br /> Best Shore<br /> Delivery</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-success">&nbsp;</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bg-success">&nbsp;</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bg-success">&nbsp;</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bg-success">&nbsp;</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bg-success">&nbsp;</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bg-success">&nbsp;</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg-info">
                        <td>nn total client locations</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-right">
            <a class="btn btn-info btn-xs" href="#"><span class="glyphicon glyphicon-plus text-info">Add Row</span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <small>*FMO Volume is the volume in the first full month of production following completion of Transition.</small>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label class="control-label">
                What are the exceptions from the standard delivery locations (custom delivery models\locations, etc.)?
                If there are no exceptions, enter NONE.
            </label>
            <label class="control-label text-danger">
                <em>This field is mandatory.</em>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <textarea class="form-control" rows="20"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">&nbsp;</div>
        <div class="col-lg-6">
            <a href="#" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-ok"></span> Save
            </a>
        </div>
    </div>
</div>
	
<p class="bg-info">
    <a href="#c3" data-toggle="collapse"><label class="lead text-left">ESM Tooling and Automation Approach</label></a>
</p>
<div id="c3" class="collapse">
    <div class="row">
        <div class="col-lg-4"><label class="control-label">What are the client-mandated and/or retained tools, including those used by third parties?</label></div>
        <div class="col-lg-8">
            <textarea class="form-control" rows="2" data-bind="text:clientKeyDriverDetail"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4"><label class="control-label">Which HP service management services are included?</label></div>
        <div class="col-lg-8">
            <textarea class="form-control" rows="2" data-bind="text:dealBenefitDetail"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4"><label class="control-label">What is the HP approach for monitoring and management?</label></div>
        <div class="col-lg-8">
            <textarea class="form-control" rows="2" data-bind="text:criticalSuccessFactorDetail"></textarea>
        </div>
    </div>
</div>




<p class="bg-info">
    <a href="#c4" data-toggle="collapse"><label class="lead text-left">Key SLAs, SLOs and KPIs</label></a>
</p>
<div id="c4" class="collapse">
    <div class="row">
        <div class="col-lg-10">
            <label class="control-label">
                Document all non-standard SLAs, SLOs and KPIs in this section. If there are no non-standard items, type “None” in the first upper left cell. 
            </label>
            <label class="control-label text-danger">
                <em>field is mandatory</em>
            </label>
            .
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-primary">
                        <th>SLA, SLO or KPI Description</th>
                        <th>Current Client SLA (may be N/A)</th>
                        <th>HP SLA</th>
                        <th>
                            Deviation from Standard/ Comments<br />
                            <small>None is an acceptable answer</small>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-info">
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg-info">
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="bg-info">
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-right">
            <a class="btn btn-info btn-xs" href="#"><span class="glyphicon glyphicon-plus text-info">Add Row</span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">&nbsp;</div>
        <div class="col-lg-6">
            <a href="#" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-ok"></span> Save
            </a>
        </div>
    </div>
</div>

<p class="bg-info">
    <a href="#c5" data-toggle="collapse"><label class="lead text-left">In-Scope Services Delivery Responsibility </label></a>
</p>
<div id="c5" class="collapse">
    <div class="row">
        <div class="col-lg-11">
            <label class="control-label">In-Scope Services Delivery Responsibility</label>
        </div>
        <div class="col-lg-1">
            <a href="#"><span class="glyphicon glyphicon-question-sign"></span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr class="bg-primary text-info text-center">
                        <th>In-Scope Offering</th>
                        <th>HP ES Delivery</th>
                        <th>Other HP Units Delivery</th>
                        <th>ES Partner Delivery</th>
                        <th>ES Third Party</th>
                        <th>Comments</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:inRow">
                    <!--data-bind="attr:{class:$index() % 2 == 0 ? 'bg-info' : ''}"-->
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <select class="form-control">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control">
                                <option>N/A</option>
                                <option>HPE Software</option>
                                <option>HPE Hardware</option>
                                <option>HPE Technical Services</option>
                                <option>HPI Hardware</option>
                                <option>HP Financial Services</option>
                                <option>Other(Specify)</option>
                            </select>
                        </td>
                        <td><input type="text" placeholder="name of partner or N/A" class="form-control"></td>
                        <td><input type="text" placeholder="name of third party or N/A" class="form-control"></td>
                        <td><textarea class="form-control" rows="1"></textarea></td>
                        <td><a href="#" data-bind="click:$parent.remove"><span class="glyphicon glyphicon-minus-sign"></span></a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-right">
            <a class="btn btn-info btn-xs" href="#" data-bind="click:addRow"><span class="glyphicon glyphicon-plus text-info">Add Row</span></a>
        </div>
    </div>
</div>


<p class="bg-info">
    <a href="#c6" data-toggle="collapse"><label class="lead text-left">Client-Retained Services Delivery Responsibility </label></a>
</p>
<div id="c6" class="collapse">
    <div class="row">
        <div class="col-lg-11">
            <label class="control-label">Client-Retained Services Delivery Responsibility</label>
        </div>
        <div class="col-lg-1">
            <a href="#"><span class="glyphicon glyphicon-question-sign"></span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr class="bg-primary text-info text-center">
                        <th>Retained Service</th>
                        <th>Client Delivery</th>
                        <th>Client Partner Delivery</th>
                        <th>Client Third Party</th>
                        <th>Comments</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:inRow">
                    <!--data-bind="attr:{class:$index() % 2 == 0 ? 'bg-info' : ''}"-->
                    <tr>
                        <td><input type="text" class="form-control" /></td>
                        <td>
                            <select class="form-control">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </td>
                        <td><input type="text" placeholder="name of partner or N/A" class="form-control"></td>
                        <td><input type="text" placeholder="name of third party or N/A" class="form-control"></td>
                        <td><textarea class="form-control" rows="1"></textarea></td>
                        <td><a href="#" data-bind="click:$parent.remove"><span class="glyphicon glyphicon-minus-sign"></span></a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-right">
            <a class="btn btn-info btn-xs" href="#"><span class="glyphicon glyphicon-plus text-info">Add Row</span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">&nbsp;</div>
        <div class="col-lg-6">
            <a href="#" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-ok"></span> Save
            </a>
        </div>
    </div>
</div>




