<!-- ko with: data -->
<!-- ko if: $component.pursuitClassfication() == 'C' || $component.pursuitClassfication() == 'D' -->
<sd-questionarea params="{title: 'Client Background and HPE History <br>(include revenue for most recent fiscal year, number of business units, principal countries, explanation of HPE account history if applicable)',
                     content: clientRevenue, opptyID: $component.opptyID,editable:$component.editable}"></sd-questionarea>
<!-- /ko -->
<sd-questionarea params="{title: 'If this is a current account, please explain any relevant points from the Account Business Plan/Roadmap that will impact the solution.',
                         content: explainImpact,editable:$component.editable}"></sd-questionarea>

<sd-questionarea params="{title: 'Primary business challenges and concerns?',
                     content:priBizChlgDetail,editable:$component.editable}"></sd-questionarea>

<sd-questionarea params="{title: 'Client compelling events driving the opportunity?',
                      content: clientCompellingEventDetail,editable:$component.editable}"></sd-questionarea>

<sd-questionarea params="{title: 'Current State of IT, challenges and concerns',
                     content: curItStateDetail,editable:$component.editable}"></sd-questionarea>

<sd-questionarea params="{title: 'Why will the client choose HPE? Will they view our transformation plan as our key differentiation?',
                     content: keyDifferentiation,editable:$component.editable}"></sd-questionarea>

<sd-questionarea params="{title: 'Describe any existing relationships with any HPE BU',
                     content: buRelationDetail,editable:$component.editable}"></sd-questionarea>

<sd-questionarea params="{title: 'Describe existing relationships with HP Inc.',
                     content: hpiRelationDetail,editable:$component.editable}"></sd-questionarea>

<!-- ko if: $component.pursuitClassfication() == 'C' || $component.pursuitClassfication() == 'D' -->
<sd-questionarea params="{title: 'Which client functional area initiated the request and why?',
                     content: clientFcnDetail,editable:$component.editable}"></sd-questionarea>
<!-- /ko -->

<sd-questionarea params="{title: 'What are the client’s decision criteria, including transformation?',
                     content: clientDecisionCriteriaDetail,editable:$component.editable}"></sd-questionarea>

<!-- ko if: $component.pursuitClassfication() == 'C' || $component.pursuitClassfication() == 'D' -->
<div class="row">
    <div class="col-lg-12">
        <!-- ko if:$component.editable() -->
        <blockquote style="font-size:16px;font-weight:bolder;border-left:4px solid #00b388;">
            <div class="form-inline  form-horizontal">
                <label class="control-label">What is the client’s procurement approach?&nbsp;&nbsp;</label>
                <select class="form-control sd-auto-width" data-bind="value:clientProcApproach,optionsCaption: '(select)'">
                    <option>Sole Source</option>
                    <option>RFP</option>
                    <option>Renewal As-Is</option>
                    <option>Transformation Renewal</option>
                </select>    
            </div>
        </blockquote>
        <!-- /ko -->
        <!-- ko if:!$component.editable() -->
        <b>What is the client’s procurement approach?</b>
        <i><u class="control-label" data-bind="text:clientProcApproach"></u></i>
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->

<sd-questionarea params="{title: 'What type of Account and Delivery Management structure will be required to support the client; i.e., dedicated or leveraged, global/regional/in-country, PMO?',
                     content: accountDeliveryMgmtDetail,editable:$component.editable}"></sd-questionarea>

<!-- /ko -->
