<div class="row">
    <div class="col-lg-12">
        <p class="bg-success sd-info">
            <label>
                Complete the information below to document key T&T project interdependencies.
                This content is not applicable for project opportunities.
            </label>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Key Dependencies</th>
                    <th>Required Actions to Align Projects</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                    <td><input type="text" class="form-control" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
