<div class="accordion" id="accordion1">
    <div class="accordion-group">
        <div id="c1" class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-10">
                                <label class="control-label">
                                    ocument all non-standard SLAs, SLOs and KPIs in this section. If there are no non-standard items, type “None” in the first upper left cell.
                                </label>
                                <label class="control-label text-danger">
                                    <em>field is mandatory</em>
                                </label>
                            </div>
                            <div class="col-lg-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>SLA, SLO or KPI Description</th>
                                            <th>Current Client SLA (may be N/A)</th>
                                            <th>HPE SLA</th>
                                            <th>
                                                Deviation from Standard/ Comments<br />
                                                <small>None is an acceptable answer</small>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <a class="btn btn-default btn-xs" href="#"><span class="glyphicon glyphicon-plus">Add Row</span></a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>