<div class="row">
    <div class="col-lg-12">
        <p class="bg-success sd-info">
            <label>
                Complete the information below to document key Due Diligence findings.
                This content is not applicable for project opportunities or for outsourcing
                opportunities less than U.S. $50M.
            </label>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading form-inline form-horizontal">
                List the key/major due diligence findings and the associated impacts to HPE or the client.
            </div>
            <div class="panel-body">

                    <i class="glyphicon glyphicon-plus-sign">Add Findding x - impact</i>
            </div>            
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading form-inline form-horizontal">
                List the key/major open issues and risks and the associated planned actions.
            </div>
            <div class="panel-body">

                
                 <i class="glyphicon glyphicon-plus-sign">Add Issue or Risk x - planned action</i>
            </div>
            
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading form-inline form-horizontal">
                List the key/jajor open assumptions and the associated planned actions.
            </div>
            <div class="panel-body">

                <i class="glyphicon glyphicon-plus-sign">Add Assumption x - planned action</i>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading form-inline form-horizontal">
                List the key/major outstanding data needed from the client.
            </div>
            <div class="panel-body">

                <i class="glyphicon glyphicon-plus-sign">Add Outstanding data x - planned action</i>
            </div>
        </div>
    </div>
</div>