<div class="row">
    <div class="col-lg-12">
        <p class="bg-success sd-info">
            <label>
                Complete the information below to document key T&T project interdependencies.
                This content may not be applicable for project opportunities.
            </label>
        </p>
    </div>
</div>
<div class="row form-inline">
    <div class="col-lg-3">Insert Account Org Chart</div>
    <div class="col-lg-2"><i class="glyphicon glyphicon-paperclip"></i>Add Attachment</div>
    <div class="col-lg-1">Total: <span class="badge">2</span></div>
</div>
<div class="row form-inline">
    <div class="col-lg-3">Insert T&amp;T Program Team Structure</div>
    <div class="col-lg-2"><i class="glyphicon glyphicon-paperclip"></i>Add Attachment</div>
    <div class="col-lg-1">Total: <span class="badge">16</span></div>
</div>
<div class="row form-inline">
    <div class="col-lg-3">Insert T&amp;T Project Structure by Offering</div>
    <div class="col-lg-2"><i class="glyphicon glyphicon-paperclip"></i>Add Attachment</div>
    <div class="col-lg-1">Total: <span class="badge">0</span></div>
</div>

<sd-questionarea params="{title: 'What Management of Change (MoC) activities are included in the Transition Phase?',
                     content:'',editable:$component.editable}"></sd-questionarea>
<sd-questionarea params="{title: 'What MoC activities are included in the Transformation Phase?',
                     content:'',editable:$component.editable}"></sd-questionarea>
<sd-questionarea params="{title: 'Are client obligations contractually documented to support the MoC process across all regions and business entities/departments?',
                     content:'',editable:$component.editable}"></sd-questionarea>
<sd-questionarea params="{title: 'Describe how T&T contractual roles and responsibilities ensure that the client owns the responsibility for their internal MoC program, specifically related to the changes that impact their end users.',
                     content:'',editable:$component.editable}"></sd-questionarea>
<sd-questionarea params="{title: 'Describe how the overall HPE account and client governance structure is positioned to trigger/support MoC activities.',
                     content:'',editable:$component.editable}"></sd-questionarea>
<sd-questionarea params="{title: 'In which offering solution designs and cost model(s) has the necessary regional/business customization of the HPE solution been included?',
                     content:'',editable:$component.editable}"></sd-questionarea>