<div class="row">
    <div class="col-lg-12">
        <p class="bg-success sd-info">
            <label>
                Complete the information below to describe the client benefits of T&T. This content is not applicable for project opportunities.
            </label>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Client Business Outcomes</th>
                    <th>HPE Transition or Transformation Project</th>
                    <th>Client Benefits</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><textarea class="form-control" rows="3"></textarea></td>
                    <td><textarea class="form-control" rows="3"></textarea></td>
                    <td><textarea class="form-control" rows="3"></textarea></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 pull-left">
        <a class="btn btn-default btn-xs" href="#"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>