<div class="row">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="Home.aspx">Home</a>
                    </li>
                    <li>
                        <div class="dropdown sd-toplink-help">
                            <a class="dropdown-toggle sd-toplink-help-a" id="HelpdropdownMenu" data-toggle="dropdown" aria-expanded="true" href="#">
                                Help &amp; Reference
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="HelpdropdownMenu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="FAQ.aspx" target="_blank">FAQ</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="Support%20Contacts.aspx" target="_blank">Support Contacts</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">News &amp; Updates</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>